.Radio {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid var(--lightBorder);
  background-color: var(--inputBg);
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.Error {
  border-color: var(--red);
}

.Radio input {
  position: absolute;
  top: 0;
  left: -150%;
  display: block;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  outline: none;
  box-shadow: 0 0 0 transparent;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.Radio span {
  position: absolute;
  top: 10%;
  left: 10%;
  display: block;
  width: 80%;
  height: 80%;
  background-color: var(--inputBg);
  border-radius: 50%;
  transition: all 0.2s;
}

.Radio input:checked + span {
  background-color: var(--theme);
}