.Search {
  position: relative;
  display: flex;
  flex-grow: 1;
  z-index: 30;
  margin-bottom: 10px;
}

.Form {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 1fr 36px;
  border: 1px solid var(--lightBorder);
  background-color: white;
  border-radius: 3px;
}

.Input {
  position: relative;
  display: block;
  width: 100%;
  height: 36px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  font-size: 14px;
  color: var(--mainColor);
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: 0 0 0 transparent;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.Button {
  box-shadow: 0 0 0 transparent;
}

.Reset {
  margin-left: 20px;
}
